# PANDAS Presentation Explaining

In [13]:
import pandas as pd

# Series et DataFrames

## Series

## DataFrame

In [81]:
population_dict = {'Tinghir': 2187526, 'Agadir': 863310, 'Ouarzazate': 516092, 'CasaBlanca': 479553, 'Tiznit': 340017}

population = pd.Series(population_dict)

area_dict = {'Tinghir': 105.4, 'Agadir': 240.6, 'Ouarzazate': 47.9, 'CasaBlanca': 118.3, 'Tiznit': 71.9}

area = pd.Series(area_dict)

region_dict = {'Tinghir': "Drâa-Tafilalet", 'Agadir': "Sous-massa", 'Ouarzazate': "Drâa-Tafilalet", 'CasaBlanca': "Casablanca-settat", 'Tiznit': "Sous-massa"}

region = pd.Series(region_dict)

df = pd.DataFrame({'population': population, 'area': area , 'region': region})

print(df)

            population   area             region
Tinghir        2187526  105.4     Drâa-Tafilalet
Agadir          863310  240.6         Sous-massa
Ouarzazate      516092   47.9     Drâa-Tafilalet
CasaBlanca      479553  118.3  Casablanca-settat
Tiznit          340017   71.9         Sous-massa

**On peut accéder aux données et aux index d’un DataFrame avec les attributs values, index et columns. Par exemple :**

In [82]:
print(df.values) # affiche [[2187526.   105.4]
                 #         [ 863310.   240.6]
                 #         [ 516092.    47.9]
                 #         [ 479553.   118.3]
                 #         [ 340017.    71.9]]
print(df.index) # affiche Index(['Paris', 'Marseille', 'Lyon', 'Toulouse', 'Nice'], dtype='object')
print(df.columns) # affiche Index(['population', 'area'], dtype='object')

[[2187526 105.4 'Drâa-Tafilalet']
 [863310 240.6 'Sous-massa']
 [516092 47.9 'Drâa-Tafilalet']
 [479553 118.3 'Casablanca-settat']
 [340017 71.9 'Sous-massa']]
Index(['Tinghir', 'Agadir', 'Ouarzazate', 'CasaBlanca', 'Tiznit'], dtype='object')
Index(['population', 'area', 'region'], dtype='object')

**On peut accéder aux colonnes d’un DataFrame par leur nom, en utilisant la notation [] ou la notation .. Par exemple :**

In [83]:
print("Methode 1 : ")
print(df['population']) # affiche la colonne population

print(" \n Methode 2 : ")
print(df.population) # affiche la même chose

Methode 1 :
Tinghir       2187526
Agadir         863310
Ouarzazate     516092
CasaBlanca     479553
Tiznit         340017
Name: population, dtype: int64

 Methode 2 :
Tinghir       2187526
Agadir         863310
Ouarzazate     516092
CasaBlanca     479553
Tiznit         340017
Name: population, dtype: int64

**On peut accéder aux lignes d’un DataFrame par leur index, en utilisant la méthode loc[]. Par exemple :**

In [84]:
print(df.loc['Paris']) # affiche la ligne correspondant à Paris

KeyError: 'Paris'

**On peut aussi accéder aux lignes d’un DataFrame par leur position, en utilisant la méthode iloc[]. Par exemple :**

In [85]:
print(df.iloc[0]) # affiche la première ligne du DataFrame

population           2187526
area                   105.4
region        Drâa-Tafilalet
Name: Tinghir, dtype: object

**On peut accéder à un élément spécifique d’un DataFrame en utilisant la méthode at[]. Par exemple :**

In [88]:
print(df.at['Tinghir', 'population']) # affiche 2187526

2187526

# 4. Créer un DataFrame à partir de différentes sources

## À partir d'une liste de listes
>Ce code crée un DataFrame avec trois lignes et trois colonnes, à partir d’une liste de listes. On spécifie les index et les colonnes avec les paramètres index et columns. Le résultat affiché est :

In [89]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
df = pd.DataFrame(data, index=['a', 'b', 'c'], columns=['x', 'y', 'z'])
print(df)

   x  y  z
a  1  2  3
b  4  5  6
c  7  8  9

## À partir d’un dictionnaire de listes :
> Ce code crée un DataFrame avec trois lignes et trois colonnes, à partir d’un dictionnaire de listes. Les clés du dictionnaire deviennent les noms des colonnes, et les valeurs du dictionnaire deviennent les données des colonnes. On spécifie les index avec le paramètre index. Le résultat affiché est le même que le précédent.

In [90]:
import pandas as pd
data = {'x': [1, 4, 7], 'y': [2, 5, 8], 'z': [3, 6, 9]}
df = pd.DataFrame(data, index=['a', 'b', 'c'])
print(df)

   x  y  z
a  1  2  3
b  4  5  6
c  7  8  9

## À partir d’un array NumPy :
>Ce code crée un DataFrame avec trois lignes et trois colonnes, à partir d’un array NumPy. On spécifie les index et les colonnes avec les paramètres index et columns. Le résultat affiché est le même que les précédents.

In [91]:
import pandas as pd
import numpy as np
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df = pd.DataFrame(data, index=['a', 'b', 'c'], columns=['x', 'y', 'z'])
print(df)

   x  y  z
a  1  2  3
b  4  5  6
c  7  8  9

## creation des Fichiers

In [92]:
import csv
import json
import xml.etree.ElementTree as ET
import sqlite3

# Exemple de données pour les PC
ensemble_de_pc = [
    {"id": 1, "nom": "PC1", "marque": "Dell", "ram": 8, "processeur": "Intel i5"},
    {"id": 2, "nom": "PC2", "marque": "HP", "ram": 16, "processeur": "AMD Ryzen 7"},
    # Ajoutez d'autres PC au besoin
]

# Générer le fichier CSV
with open('pc.csv', 'w', newline='') as csvfile:
    fieldnames = ensemble_de_pc[0].keys()
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    
    writer.writeheader()
    for pc in ensemble_de_pc:
        writer.writerow(pc)

# Générer le fichier JSON
with open('pc.json', 'w') as jsonfile:
    json.dump(ensemble_de_pc, jsonfile, indent=2)

# Générer le fichier XML
root = ET.Element("pcs")
for pc in ensemble_de_pc:
    pc_element = ET.SubElement(root, "pc")
    for key, value in pc.items():
        ET.SubElement(pc_element, key).text = str(value)

tree = ET.ElementTree(root)
tree.write('pc.xml')

# Générer le fichier SQLite (fichier .db)
conn = sqlite3.connect('pc.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE PC (
        id INTEGER PRIMARY KEY,
        nom TEXT,
        marque TEXT,
        ram INTEGER,
        processeur TEXT
    )
''')

for pc in ensemble_de_pc:
    cursor.execute('''
        INSERT INTO PC (nom, marque, ram, processeur)
        VALUES (?, ?, ?, ?)
    ''', (pc['nom'], pc['marque'], pc['ram'], pc['processeur']))

conn.commit()
conn.close()

OperationalError: table PC already exists

## À partir d’un fichier CSV :
> Ce code crée un DataFrame à partir d’un fichier CSV, qui est un format courant pour stocker des données tabulaires. Le fichier CSV doit avoir une ligne d’en-tête avec les noms des colonnes, et des lignes de données séparées par des virgules. Par exemple, le fichier data.csv pourrait contenir

In [93]:
import pandas as pd
df = pd.read_csv('pc.csv')
print(df)

   id  nom marque  ram   processeur
0   1  PC1   Dell    8     Intel i5
1   2  PC2     HP   16  AMD Ryzen 7

## À partir d’un fichier JSON :
>Ce code crée un DataFrame à partir d’un fichier JSON, qui est un format courant pour stocker des données structurées. Le fichier JSON doit avoir un objet avec des paires clé-valeur, où les clés sont les noms des colonnes, et les valeurs sont des listes de données.

In [94]:
import pandas as pd
df = pd.read_json('pc.json')
print(df)

   id  nom marque  ram   processeur
0   1  PC1   Dell    8     Intel i5
1   2  PC2     HP   16  AMD Ryzen 7

## À partir d’une base de données :
>Ce code crée un DataFrame à partir d’une base de données SQLite, qui est un système de gestion de base de données relationnelle. On utilise le module sqlite3 pour se connecter à la base de données, et la méthode pd.read_sql() pour exécuter une requête SQL et renvoyer le résultat sous forme de DataFrame.

In [95]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('pc.db')
df = pd.read_sql('SELECT * FROM pc', conn)
print(df)

   id  nom marque  ram   processeur
0   1  PC1   Dell    8     Intel i5
1   2  PC2     HP   16  AMD Ryzen 7

# 5. Explorer et transformer un DataFrame

In [97]:
#DATA
population_dict = {'Tinghir': 2187526, 'Agadir': 863310, 'Ouarzazate': 516092, 'CasaBlanca': 479553, 'Tiznit': 340017}

population = pd.Series(population_dict)

area_dict = {'Tinghir': 105.4, 'Agadir': 240.6, 'Ouarzazate': 47.9, 'CasaBlanca': 118.3, 'Tiznit': 71.9}

area = pd.Series(area_dict)

region_dict = {'Tinghir': "Drâa-Tafilalet", 'Agadir': "Sous-massa", 'Ouarzazate': "Drâa-Tafilalet", 'CasaBlanca': "Casablanca-settat", 'Tiznit': "Sous-massa"}

region = pd.Series(region_dict)

df = pd.DataFrame({'population': population, 'area': area , 'region': region})

print(df)

            population   area             region
Tinghir        2187526  105.4     Drâa-Tafilalet
Agadir          863310  240.6         Sous-massa
Ouarzazate      516092   47.9     Drâa-Tafilalet
CasaBlanca      479553  118.3  Casablanca-settat
Tiznit          340017   71.9         Sous-massa

## 4-1- Accéder a des colonnes et des lignes

### Accéder à une colonne:
>Pour accéder à une colonne d’un DataFrame, vous pouvez utiliser la notation [] ou la notation . avec le nom de la colonne. Par exemple, si vous avez un DataFrame nommé df avec une colonne nommée population, vous pouvez faire :

In [99]:
df['population']  # ou df.population

Tinghir       2187526
Agadir         863310
Ouarzazate     516092
CasaBlanca     479553
Tiznit         340017
Name: population, dtype: int64

### Accéder à plusieurs colonnes:
>Pour accéder à plusieurs colonnes d’un DataFrame, vous pouvez utiliser la notation [] avec une liste de noms de colonnes. Par exemple, si vous avez un DataFrame nommé df avec des colonnes nommées population et area, vous pouvez faire :

In [100]:
df[['population', 'area']]

            population   area
Tinghir        2187526  105.4
Agadir          863310  240.6
Ouarzazate      516092   47.9
CasaBlanca      479553  118.3
Tiznit          340017   71.9

### Accéder à une ligne:
>Pour accéder à plusieurs lignes d’un DataFrame, vous pouvez utiliser la méthode loc[] avec une liste de noms d’index. Par exemple, si vous avez un DataFrame nommé df avec des lignes nommées Paris et Marseille, vous pouvez faire :

In [101]:
df.loc['Ouarzazate']

population            516092
area                    47.9
region        Drâa-Tafilalet
Name: Ouarzazate, dtype: object

### Accéder à plusieurs lignes:
>Pour accéder à un élément spécifique d’un DataFrame, vous pouvez utiliser la méthode at[] avec le nom de l’index de la ligne et le nom de la colonne. Par exemple, si vous avez un DataFrame nommé df avec une colonne nommée population et une ligne nommée Paris, vous pouvez faire :

In [102]:
df.loc[['Tinghir', 'Ouarzazate']]

            population   area          region
Tinghir        2187526  105.4  Drâa-Tafilalet
Ouarzazate      516092   47.9  Drâa-Tafilalet

### Accéder à un élément spécifique:
>Pour modifier une colonne ou une ligne d’un DataFrame, vous pouvez utiliser la notation [] ou la méthode loc[] avec une affectation. Par exemple, si vous voulez ajouter une nouvelle colonne nommée density à un DataFrame nommé df, vous pouvez faire :

In [104]:
df.at['Tinghir', 'population']

2187526

### Modifier une colonne ou une ligne:
>Pour supprimer une colonne ou une ligne d’un DataFrame, vous pouvez utiliser la méthode drop() avec le nom de la colonne ou de l’index. Par exemple, si vous voulez supprimer la colonne density du DataFrame df, vous pouvez faire :

In [107]:
df['density'] = df['population'] / df['area']
df

            population   area             region       density
Tinghir        2187526  105.4     Drâa-Tafilalet  20754.516129
Agadir          863310  240.6         Sous-massa   3588.154613
Ouarzazate      516092   47.9     Drâa-Tafilalet  10774.363257
CasaBlanca      479553  118.3  Casablanca-settat   4053.702451
Tiznit          340017   71.9         Sous-massa   4729.026426

### Supprimer une colonne:

In [108]:
df.drop('density', axis=1 , inplace=True)
df

            population   area             region
Tinghir        2187526  105.4     Drâa-Tafilalet
Agadir          863310  240.6         Sous-massa
Ouarzazate      516092   47.9     Drâa-Tafilalet
CasaBlanca      479553  118.3  Casablanca-settat
Tiznit          340017   71.9         Sous-massa

## 4-2 Filtrer, trier, grouper et agréger des données

### Filtrer selon une condition:
>Pour filtrer des données d’un DataFrame selon une condition, vous pouvez utiliser la notation [] avec une expression booléenne. Par exemple, si vous voulez sélectionner les lignes du DataFrame df où la population est supérieure à un million, vous pouvez faire :

In [111]:
df[df['population'] > 500000]

            population   area          region
Tinghir        2187526  105.4  Drâa-Tafilalet
Agadir          863310  240.6      Sous-massa
Ouarzazate      516092   47.9  Drâa-Tafilalet

### Trier par ordre décroissant de population:
>Pour trier des données d’un DataFrame selon une ou plusieurs colonnes, vous pouvez utiliser la méthode sort_values() avec le nom ou la liste des noms des colonnes. Par exemple, si vous voulez trier le DataFrame df par ordre décroissant de population, vous pouvez faire :

In [112]:
df.sort_values('population', ascending=False)

            population   area             region
Tinghir        2187526  105.4     Drâa-Tafilalet
Agadir          863310  240.6         Sous-massa
Ouarzazate      516092   47.9     Drâa-Tafilalet
CasaBlanca      479553  118.3  Casablanca-settat
Tiznit          340017   71.9         Sous-massa

### Grouper selon la colonne 'region':
>Pour grouper des données d’un DataFrame selon une ou plusieurs colonnes, vous pouvez utiliser la méthode groupby() avec le nom ou la liste des noms des colonnes. Par exemple, si vous avez un DataFrame nommé df avec une colonne nommée region, vous pouvez faire :

In [125]:
# Groupement par densité de population
grouped = df.groupby('region') # mean() sum() count()
# Accéder aux données de chaque groupe sans agrégation
for name, group in grouped:
    print(f"Group {name}:")
    print(group)

Group Casablanca-settat:
            population   area             region
CasaBlanca      479553  118.3  Casablanca-settat
Group Drâa-Tafilalet:
            population   area          region
Tinghir        2187526  105.4  Drâa-Tafilalet
Ouarzazate      516092   47.9  Drâa-Tafilalet
Group Sous-massa:
        population   area      region
Agadir      863310  240.6  Sous-massa
Tiznit      340017   71.9  Sous-massa

### Agréger la colonne 'population':
>Pour agréger des données d’un DataFrame selon une fonction ou une liste de fonctions, vous pouvez utiliser la méthode agg() avec le nom ou la liste des noms des fonctions. Par exemple, si vous voulez calculer la somme, la moyenne et le nombre de valeurs de la colonne population du DataFrame df, vous pouvez faire :

In [126]:
df['population'].agg(['sum', 'mean', 'count'])

sum      4386498.0
mean      877299.6
count          5.0
Name: population, dtype: float64

## Gérer les valeurs manquantes et les doublons
### Détecter les valeurs manquantes:
>Pour détecter les valeurs manquantes d’un DataFrame, vous pouvez utiliser la méthode isna() qui renvoie un DataFrame de booléens indiquant la présence ou l’absence de valeurs. Par exemple, si vous avez un DataFrame nommé df avec des valeurs manquantes, vous pouvez faire :

In [127]:
df.isna()

            population   area  region
Tinghir          False  False   False
Agadir           False  False   False
Ouarzazate       False  False   False
CasaBlanca       False  False   False
Tiznit           False  False   False

### Remplir les valeurs manquantes par la moyenne:
>Pour remplir les valeurs manquantes d’un DataFrame, vous pouvez utiliser la méthode fillna() avec une valeur ou une méthode de remplissage. Par exemple, si vous voulez remplir les valeurs manquantes du DataFrame df par la moyenne de la colonne correspondante, vous pouvez faire :

In [131]:
df.fillna(df["population"].mean())

            population   area             region
Tinghir        2187526  105.4     Drâa-Tafilalet
Agadir          863310  240.6         Sous-massa
Ouarzazate      516092   47.9     Drâa-Tafilalet
CasaBlanca      479553  118.3  Casablanca-settat
Tiznit          340017   71.9         Sous-massa

### Supprimer les lignes avec des valeurs manquantes:
>Pour supprimer les valeurs manquantes d’un DataFrame, vous pouvez utiliser la méthode dropna() avec un paramètre indiquant l’axe, le seuil ou la sous-ensemble de colonnes à considérer. Par exemple, si vous voulez supprimer les lignes du DataFrame df qui ont au moins une valeur manquante, vous pouvez faire :

In [132]:
df.dropna(axis=0, how='any')

            population   area             region
Tinghir        2187526  105.4     Drâa-Tafilalet
Agadir          863310  240.6         Sous-massa
Ouarzazate      516092   47.9     Drâa-Tafilalet
CasaBlanca      479553  118.3  Casablanca-settat
Tiznit          340017   71.9         Sous-massa

### Détecter les doublons:
>Pour détecter les doublons d’un DataFrame, vous pouvez utiliser la méthode duplicated() qui renvoie une Series de booléens indiquant si la ligne est dupliquée ou non. Par exemple, si vous avez un DataFrame nommé df avec des doublons, vous pouvez faire :

In [133]:
df.duplicated()

Tinghir       False
Agadir        False
Ouarzazate    False
CasaBlanca    False
Tiznit        False
dtype: bool

### Supprimer les doublons basés sur la colonne 'population':
>Pour supprimer les doublons d’un DataFrame, vous pouvez utiliser la méthode drop_duplicates() avec un paramètre indiquant les colonnes à considérer. Par exemple, si vous voulez supprimer les lignes du DataFrame df qui ont des valeurs identiques dans la colonne population, vous pouvez faire :

In [134]:
df.drop_duplicates(subset='population')

            population   area             region
Tinghir        2187526  105.4     Drâa-Tafilalet
Agadir          863310  240.6         Sous-massa
Ouarzazate      516092   47.9     Drâa-Tafilalet
CasaBlanca      479553  118.3  Casablanca-settat
Tiznit          340017   71.9         Sous-massa